*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

body {
	background-color: #D0CD76;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}	

header {
	font-family: 'Sigmar One', cursive;
	margin-bottom: .5em;
}
.title{
	font-family: 'Kaushan Script', cursive;
	color: #D95858;
	text-shadow: 2px 2px 3px #ff0;
}	

.subtitle {
	color: rgb(48, 116, 93);
	font-family: 'Fenix', serif;
}
.title, .subtitle{
	text-align: center;
	margin: 0;
}
	
.news {
	list-style: none;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	align-item: stretch;
	justify-content: space-around;
}

.news-item {
	background-color: #fff;
	border-radius: 8px;
	display: inline-block;
	line-height: 1.5em;
	margin-bottom: 1em;
	padding: 1em;
	width: 90%;
	/*font-size: 10px;*/
}

.news-item > *{
	display: block;
	margin: 0;
}
.item-picture{
	border-radius: 8px 8px 0 0;
	padding-left: 0;
	width: 100%;
}

@media (min-width: 450px){
	.news-item {
		width: 48%;
	}
}

@media (min-width: 750px){
	.news-item {
		width: 32%;
	}

	header {
		font-size: 1.5rem;
	}
}

@media (min-width: 1000px){
	.news-item {
		width: 24%;
	}
}

@media (min-width: 1200px){
	header {
		font-size: 1.8rem;
	}

	.news-item {
		width: 19.5%;
	}
}
